<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Wild series</a>
  </div>
    <div class="container-fluid">
    <a class="navbar-brand" href="/program">Series</a>
  </div>
    <div class="container-fluid">
    <a class="navbar-brand" href="/category">Categories</a>
  </div>
</nav>